[submodule ".config/mpv/scripts/mpv-reload"]
	path = .config/mpv/scripts/mpv-reload
	url = https://github.com/4e6/mpv-reload
[submodule ".config/mpv/scripts/mpv-scripts"]
	path = .config/mpv/scripts/mpv-scripts
	url = https://github.com/Eisa01/mpv-scripts
[submodule ".config/mpv/scripts/mpv_sponsorblock_minimal"]
	path = .config/mpv/scripts/mpv_sponsorblock_minimal
	url = https://codeberg.org/jouni/mpv_sponsorblock_minimal
